/* Tablet */

@media (min-width: 768px) {
  /* Header */

  .header-top {
    height: 11vh;
  }

  .weather {
    width: 25%;
  }

  .header-logo {
    width: 52%;
  }

  .header-logo img {
    height: 10vh;
    padding-right: 40%;
  }

  .header-buttons {
    padding-left: 15% !important;
  }

  /* SPONSORS */

  .sml_adj {
    bottom: 0;
    margin: auto;
    padding: 0;
  }

  .quer h4,
  .quer p {
    text-align: left;
  }

  .justify_cont_end {
    justify-content: flex-end;
  }

  .b-rit {
    border-right: 1px solid gray;
    font-size: 15px;
  }
}

/* Desktop */

@media (min-width: 1024px) {
  /* Header */

  .weather {
    width: 25%;
    display: inline-block !important;
  }

  .header-top {
    height: 18.8vh;
  }

  .header-logo img {
    height: 18vh;
    padding: 0;
  }

  .header-buttons {
    padding-left: 4% !important;
  }

  .menu-bars {
    display: none;
  }
}
