.center {
  margin: 0 auto;
}

.color-red {
  color: #f72210;
}

.back-red {
  background-color: #f72210;
}

.color-black {
  color: black !important;
}

/* HEADER */

.header-top {
  height: 14vh;
}

.weather {
  display: none !important;
}

.header-logo {
  width: 52%;
}

.header-logo img {
  height: 13vh;
}

.header-buttons {
  width: 20%;
  align-items: flex-end;
  gap: 10px;
}

.bnt-login {
  width: 5.8vw;
}

.bnt-subscribe {
  width: 8.125rem;
  background-color: #ffe400;
  border-radius: 24px;
}

.weather-content {
  height: 40%;
}

.weather-content img {
  height: 25px;
}

/* feature story */

.border_light_gray {
  border: 1px solid lightgray;
}

.thick_hr {
  background-color: lightgray;
  height: 3px;
}

.vs_hr {
  height: 1px;
  background-color: white;
  border-top: 1px solid lightgray;
  border-bottom: 2px solid lightgray;
}

.vs {
  background-color: black;
  color: lightgray;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.bg_gray {
  background-color: #f1f3f5;
}
